<ngb-carousel>
  <ng-template ngbSlide>
    <a href="https://www.washingtonpost.com/blogs/post_now/post/national-cathedral-quake-damage-is-not-structural/2011/08/24/gIQAKa1ob
J_blog.html?utm_term=.3d8cf0f0855c" target="_blank"><img align="middle" src="http://img.washingtonpost.com/wp-apps/imrs.php?src=http://s3.amazonaws.com/posttv-thumbnails-prod/08-23-2016/t_1471916032531_name_YKBUXMV0.jpg&w=1024" alt="Washington National Cathedral Quake Damage"></a>
    <div class="carousel-caption">
      <h3>2011 | Washington DC</h3>
      <p>The Washington Post - D.C. quake causes millions of dollars in damage to National Cathedral</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <a href="https://earthquake.usgs.gov/earthquakes/events/1989lomaprieta/" target="_blank"><img align="middle" src="https://pubs.usgs.gov/dds/dds-2
9/screens/006sr.jpeg" alt="Loma Prieta Quake"></a>
    <div class="carousel-caption">
      <h3>1989 | San Francisco</h3>
      <p>United States Geological Service - Study of the 1989 Loma Prieta Earthquake</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <a href="https://www.theatlantic.com/photo/2014/01/the-northridge-earthquake-20-years-ago-today/100664/" target="_blank"><img align="middle" src=
"https://cdn.theatlantic.com/assets/media/img/photo/2014/01/the-northridge-earthquake-20-years-ago-today/n01_45949283/main_1200.jpg?14
20505228" alt="Northridge Earthquake"></a>
    <div class="carousel-caption">
      <h3>1994 | Northridge</h3>
      <p>The Atlantic - The Northridge Earthquake: 20 Years Ago Today (1.24.14)</p>
    </div>
  </ng-template>
</ngb-carousel>
